.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  padding: 10px;
  font-size: 17px;
  border-radius: 4px;
  background-color: #21fd6bff;
  color: #000;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.video__background {
  width: 640px;
  height: 480px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 8;
}

.obj__data {
  /* display: flex; */
  text-align: left;
  background-color: #777;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.obj__data h1 {
  font-size: 17px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
